<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find robot_description_pkg)/urdf/common_inertia.xacro"/>
    <xacro:macro name="camera_link_xacro" params="xyz">
        <link name="camera_link">

            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.02 0.10 0.02"/>
                </geometry>
                <material name="black1">
                    <color rgba="0.0 0.0 0.0 0.5"/>
                </material>
            </visual>

            <collision>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="0.02 0.10 0.02"/>
                </geometry>
                <material name="black1">
                    <color rgba="0.0 0.0 0.0 0.5"/>
                </material>
            </collision>

            <xacro:box_inertia m="0.1" w="0.02" h="0.1" d="0.02"/>

        </link>

        <joint name="cameralink_joint" type="fixed">
                <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
                <parent link="base_link"/>
                <child link="camera_link"/>
        </joint>

        <gazebo reference="camera_link">
            <material>Gazebo/Black</material>
        </gazebo>

    </xacro:macro>

</robot>
