<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="balance_car">
<!-- base -->
<xacro:include filename="$(find robot_description_pkg)/urdf/base_link.urdf.xacro"/>
<xacro:include filename="$(find robot_description_pkg)/urdf/leg_link.urdf.xacro"/>
<!-- actor -->
<xacro:include filename="$(find robot_description_pkg)/urdf/actor/wheel_link.urdf.xacro"/>
<!-- sensor -->
<xacro:include filename="$(find robot_description_pkg)/urdf/sensor/imu_link.urdf.xacro"/>
<!-- control -->
<xacro:include filename="$(find robot_description_pkg)/urdf/balance_car.ros2_control.xacro"/>
<!-- plugin -->
<xacro:include filename="$(find robot_description_pkg)/plugins/gazebo_sensor_imu.xacro"/>

<xacro:base_link_xacro xyz="0.0 0.0 0.6"/>
<xacro:leg_link_xacro position="left" xyz="0.0 0.15 -0.25"/>
<xacro:leg_link_xacro position="right" xyz="0.0 -0.15 -0.25"/>
<xacro:wheel_link_xacro position="left" xyz="0.0 0.035 -0.25"/>
<xacro:wheel_link_xacro position="right" xyz="0.0 -0.035 -0.25"/>
<xacro:imu_link_xacro/>
<xacro:gazebo_sensor_imu_plugin/>
<xacro:balance_car_ros2_control/>


</robot>